
{% extends "layout.html" %}



{% block content %}
<body>
    <div>
        <div style="position: absolute; width: 100%; margin-top: 60px;">
            <h4 style="text-align: center; font-size: 40px;">Concept Gallery</h4>
        </div>
        <div style="float: left; width: 50% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery1.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery3.jpg')}}"></img>
            </div>
        </div>
        <div style="float: right; width: 50% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery2.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery4.jpg')}}"></img>
            </div>
        </div>
    </div>
</body>
{% endblock %}