
{% extends "layout.html" %}


{% block content %}
<body >
    <div >
        <div style="text-align: center; position: absolute; width: 100%; margin-top: 20px; margin-bottom: 100px;">
            <img style =" width : 70%; "src="{{ url_for('static',filename='img/gallery2title.png')}}"></img>
        </div>
        <div style="width: 10%; float: left; ">
            <p>$nbsp</p>
        </div>
        <div style="float: left; width: 40% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center; margin-top: 500px;">
                <button style="all: unset; text-align: center;" data-toggle="modal" data-target="#myModal" onclick="loadImage()">
                    <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary9.jpg')}}"></img>
                </button>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px; ;">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary1.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary7.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px; ">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary3.png')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px; ">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary5.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px; ">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary11.png')}}"></img>
            </div>
        </div>
        <div style="width: 10%; float: right;  ">
            <p>$nbsp</p>
        </div>
        <div style="float: right; width: 40% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center; margin-top: 500px;">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary10.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary2.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary8.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary6.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 95%; "src="{{ url_for('static',filename='img/gallery_secondary4.jpg')}}"></img>
            </div>
        </div>
        <div class="container">
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div id= "modalContent" class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</body>
<script src="{{ url_for('static', filename = 'js/gallery.js')}}"></script>

{% endblock %}