
{% extends "layout.html" %}



{% block content %}
<body style="background:rgb(38, 179, 202) 50%;">
    <div style="background:rgb(38, 179, 202) 50%;">
        <div style="text-align: center; position: absolute; width: 100%; margin-top: 60px;">
            <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery1title.png')}}"></img>
        </div>
        <div style="float: left; width: 50% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center; margin-top: 450px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery.png')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery1.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery3.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery5.png')}}"></img>
            </div>
        </div>
        <div style="float: right; width: 50% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center; margin-top: 450px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery2.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery4.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery6.png')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery8.png')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery7.png')}}"></img>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename = 'js/gallery.js')}}"></script>
{% endblock %}