
{% extends "layout.html" %}


{% block content %}
<body >
    <div >
        <div style="position: absolute; width: 100%; margin-top: 60px;">
            <h4 style="text-align: center; font-size: 40px;">Vector Gallery</h4>
        </div>
        <div style="float: left; width: 50% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary1.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary3.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary5.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary7.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary9.jpg')}}"></img>
            </div>
        </div>
        <div style="float: right; width: 50% ;  display: block;justify-content: center;">
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary2.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary4.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary6.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary8.jpg')}}"></img>
            </div>
            <div style="display: flex; float: left; justify-content: center; margin-top: 50px;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery_secondary10.jpg')}}"></img>
            </div>
        </div>
    </div>
</body>
{% endblock %}