
{% extends "layout.html" %}



{% block content %}

<body style="background:linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(38, 179, 202) 50%);">
<div style="background:linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(38, 179, 202) 50%);">
    <body style="background:linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(38, 179, 202) 50%);"></body>
        <div style="background:linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(38, 179, 202) 50%);">
            <div style="width: 100%; text-align: center;">
                <img style =" width : 50%; "src="{{ url_for('static',filename='img/gallery2title.png')}}"></img>
            </div>
            <div style="float: left; width: 50% ;  display: flex;justify-content: center;">
                <a href="/gallery_vector" style="text-align: center;">
                    <img style ="z-index: 2; position: relative; width : 60%; margin-top: 50px; margin-bottom: 50px;"src="{{ url_for('static',filename='img/front1.png')}}"></img>
                </a>
            </div>
            <div style="float: right; width: 50%;  display: flex;justify-content: center;">
                <a href="/gallery_concept" style="text-align: center;">
                    <img style ="z-index: 2; position: relative; width : 60%; margin-top: 50px; margin-bottom: 50px;"src="{{ url_for('static',filename='img/front2.png')}}"></img>
                </a>
            </div>
        </div>
    </body>
</div>


{% endblock %}